#header
{
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    line-height: 75px;
    margin:0;
    background-color: #A262FF;
    border-radius: 10px;
}

#description
{
    font-size:20px;
}

body
{
  background-image: url("skyscraper.png");
  background-repeat: repeat;
}

.myButton {
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:6px 13px;
	text-decoration:none;
    margin: auto;
}
.myButton:hover {
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}
